.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 75px;
  row-gap: 30px;

  margin-top: 15px;
  justify-items: left;

  width: 40%;
  max-width: 480px;

  box-sizing: border-box;
  padding-left: 35px;

  @media (max-width: $vp-tablet) {
    display: flex;
    flex-flow: row wrap;

    width: unset;
    max-width: 60%;
    column-gap: unset;

    margin-top: 10px;
    padding-right: 10px;
    padding-left: 0;
  }

  @media (max-width: $vp-mobile) {
    margin-top: 5px;
  }
}

.contacts__link {
  color: $color-alice-blue;
  font-size: 16px;
  line-height: 18px;

  height: max-content;

  position: relative;

  &:nth-child(2n+2) {
    margin-right: 0;
  }

  &:hover,
  &:active {
    opacity: 0.7;
  }

  @media (max-width: $vp-tablet) {
    content: "";
    font-size: 0;
    line-height: 0;

    width: 20px;
    height: 20px;

    margin: 0;
    margin-right: 40px;

    &:nth-child(2n+2) {
      margin-right: 40px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: $vp-mobile) {
    margin: 0;
    margin-left: 40px;

    &:nth-child(2n+2) {
      margin-right: 0;
      margin-left: 40px;
    }

    &:last-child {
      margin-left: 40px;
    }
  }

  &::before {
    position: absolute;
    content: "";

    left: -35px;
    top: 0;

    width: 20px;
    height: 20px;

    background-repeat: no-repeat;

    @media (max-width: $vp-tablet) {
      left: 0;
    }
  }

  &--email {
    &::before {
      background: url("../img/header/email-icon.svg");
    }
  }

  &--tel {
    &::before {
      background: url("../img/header/tel-icon.svg");
    }
  }
}
