// Стиль для body
.modal-open {
  height: 100vh;
  overflow: hidden;

  &::before {
    content: "";
    position: fixed;
    height: 100%;
    width: 100vw;
    left: 0;
    background-color: $color-black-pearl-modal;
    z-index: 2;
  }
}

.modal {
  display: none;

  width: 26%;
  height: max-content;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  box-sizing: border-box;
  padding: 40px;
  padding-top: 38px;
  padding-bottom: 43px;

  position: absolute;

  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 100;

  background-color: $color-deep-sky-blue;

  @media (max-width: $vp-1219) and (min-width: $vp-desktop-only) {
    width: 40%;
  }
}

.modal__wrapper {
  position: relative;

  text-align: left;

  box-sizing: border-box;
  padding-right: 20px;
}

.modal__wrapper h3 {
  margin: 0;
  padding: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 140.6%;

  color: $color-default-white;
}

.modal__wrapper p {
  margin: 0;
  padding: 0;
  margin-top: 5px;

  font-size: 16px;
  line-height: 134.4%;

  color: $color-default-white;
}

.modal__wrapper button {
  position: absolute;

  width: 40px;
  height: 40px;

  right: -26px;
  top: -24px;

  background: none;
  border: none;

  &::before,
  &::after {
    position: absolute;
    content: "";

    width: 1px;
    height: 28px;

    right: 50%;
    top: 20%;

    background-color: $color-default-white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.modal form {
  margin: 0;
  padding: 0;

  margin-top: 37px;

  display: flex;
  flex-flow: column wrap;
}

.modal fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.modal ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-flow: column wrap;
}

.modal li {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

.modal input,
.modal textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;

  border: 0;
  border-radius: 3px;

  font-size: 16px;
  line-height: 134.4%;
  color: $color-default-white;
  background-color: $color-additional-black-pearl-opacity;

  &::placeholder {
    color: $color-default-white;
  }
}

.modal input {
  height: 50px;
}

.modal textarea {
  resize: none;
  padding: 25px 15px;
  height: 155px;
}

.modal__inner {
  order: 2;

  margin-top: 18px;
  box-sizing: border-box;
  padding-left: 10px;
}

.modal__inner input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  height: 0;

  & + label::before {
    position: absolute;
    content: "";

    width: 13px;
    height: 13px;

    left: -25px;
    top: 0;

    border: 1px solid $color-default-white;
    border-radius: 2px;
  }

  &:checked + label::after {
    position: absolute;
    content: "";

    width: 10px;
    height: 10px;

    left: -23px;
    top: 4px;

    background-image: url("../img/feedback/check-icon.svg");
    background-repeat: no-repeat;
  }

  &:focus + label::before {
    outline: 1px solid $color-default-white;
  }

  &:invalid + label {
    text-decoration: underline;
    color: $color-red-orange;

    &::before {
      outline: 1px solid $color-red-orange;
      border: 1px solid $color-red-orange;
    }
  }
}

.modal label {
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;

  position: relative;

  cursor: pointer;

  user-select: none;

  &:hover,
  &:active {
    opacity: 0.7;
  }
}

.modal button {
  &[type="submit"] {
    border: none;

    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;

    color: $color-default-white;
    background-color: $color-additional-black-pearl;

    border-radius: 3px;

    box-sizing: border-box;
    padding: 13px 15px;
    margin-top: 21px;

    height: max-content;
    min-height: 45px;

    order: 1;

    cursor: pointer;

    user-select: none;

    &:hover,
    &:active {
      opacity: 0.7;
    }
  }
}
