.page {
  height: 100%;
}

.page__body {
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 350px;
  min-height: 100%;
  overflow-x: hidden;

  font-family: "PT Mono", "Courier New", monospace;
  font-weight: normal;

  color: $color-black-pearl;
  background-color: $color-additional-alice-blue;
  text-align: center;

  display: grid;
  grid-template-rows: min-content 1fr min-content;


  @media (max-width: $vp-tablet) {
    padding: 0 50px;
  }

  @media (max-width: $vp-mobile) {
    padding: 0 25px;
  }
}
